---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default>
  <slot />
</Default>

<div class="docs-site-footer">
  <p>Created by Maximiliano Biandratti</p>
  <p>Huginn Proxy is dual-licensed under the MIT License and the Apache License 2.0.</p>
</div>
